.form-page-content {
  @apply max-w-full max-h-full bg-white flex justify-center items-center;
  background-image: url("/src/assets/images/auth_background.png");
  background-size: auto;
}

.form-auth-card {
  @apply w-full my-9 md:w-7/12 lg:w-6/12 xl:w-5/12;
}

.form-card {
  @apply bg-white p-5 rounded shadow-md;
}

.form-head {
  @apply my-9;
}

.form-heading {
  @apply text-4xl capitalize font-semibold text-blue-900 text-center;
}

.form-head-description {
  @apply my-2 text-center font-normal text-blue-900;
}

.form-content {
  @apply mb-3 my-9 mx-5;
}

.form-groups {
  @apply my-3 w-full;
}

.form-inline {
  @apply flex space-x-3;
}

.label {
  @apply block mb-1 text-base text-sm text-blue-900;
}

.label-success {
  @apply text-green-500;
}


.form-control {
  @apply w-full border border-[#D9D9D9] rounded outline-none py-1.5 px-3
  placeholder:text-[#BBBFCE]
  placeholder:text-base focus:border focus:border-gray-400 ;
}

.form-control-success {
  @apply border-green-300 text-green-400 focus:border-green-500 focus:ring-green-500;
}

.form-control-error {
  @apply border-red-400 text-red-400 focus:border-red-500 focus:ring-red-400;
}

.form-error {
  @apply mt-1 text-sm text-red-600;
}

.error {
  .label {
    @apply text-red-600;
  }

  .form-control {
    @apply border-red-600 text-red-400 focus:border-red-500 focus:ring-red-400;
  }

  .check-box{
    @apply ring-red-400 border-red-700;
  }
}

.check-box {
  @apply rounded text-pink-500 border-[#BBBFCE] shadow
  focus:bg-white w-3.5 h-3.5 block text-black
  checked:ring-0 checked:border-2
  focus:ring-0 ring-0 ;
}

.check-box-label {
  @apply ml-2 text-gray-400 font-medium;
}

.reset-link {
  @apply no-underline text-gray-800 text-sm font-medium;
}

.hr-container {
  @apply inline-flex justify-center items-center w-full;
  hr {
    @apply my-5 mx-20 w-full h-px rounded border-0 bg-gray-200;
  }

  .hr-text {
    @apply absolute left-1/2 px-4 bg-white font-medium
    -translate-x-1/2 bg-white text-[#C8CBD4];
  }
}

.social-btn {
  @apply btn bg-[#F6F7FE] border-x border-y border-[#F1F4FE] inline-flex justify-center
  items-center text-center w-full rounded text-gray-800 mt-2;
}

.submit-content {
  @apply my-8 mx-auto flex justify-center items-center;
}

.btn-connect {
  @apply px-10 font-medium;
}
.btn-submit{
  @apply btn px-10 bg-primary rounded hover:bg-yellow-400;
}

.already-auth {
  @apply mt-3 flex justify-center font-medium;
  p {
    @apply text-[#C8CBD4];
    a {
      @apply text-primary no-underline;
    }
  }
}
